:root {
    --text: 'Poppins', sans-serif;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --vdkblue: hsl(234, 12%, 34%);
    --grayblue: hsl(229, 6%, 66%);
    --vltgray: hsl(0, 0%, 98%);
}

body {
    font-size: 15px;
    font-family: var(--text);
    color: var(--grayblue);
    background: var(--vltgray);
}

h2, h3 {
    color: var(--vdkblue);
}

.card {
    background: white;
    border-radius: 5px;
    box-shadow: 1px 3px 5px 3px rgb(216, 226, 236);
    border-top: 5px solid var(--vdkblue);
}

.one {
    border-color: var(--cyan);
}

.two {
    border-color: var(--red);
}

.three {
    border-color: var(--orange);
}

.four {
    border-color: var(--blue);
}