:root {
    --text: 'Poppins', sans-serif;
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --vdkblue: hsl(234, 12%, 34%);
    --grayblue: hsl(229, 6%, 66%);
    --vltgray: hsl(0, 0%, 98%);
}

body {
    font-size: 15px;
    font-family: var(--text);
}